body {
    overflow-x: hidden;
}

.background {
    width: 50%;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

.hero h1 {
    color: #181E4B;
    font-size: 4rem;
    font-weight: bold;
}

.hero u {
    color: #4475F2;
}

.fitur {
    color: #4475F2;
}

.service-img > img {
    width: 100%;
    height: 100%;
}